html{
  overflow-x: hidden;
}
body {
  background-color: white;
  margin: 0;
  font-size: 100%;
}

.flex-align-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-vertical{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.script-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.theme-color{
  color: rgb(255,255,255);
  background-color: rgb(25, 74, 251);
}

.bg-video{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
  object-fit: cover;
}

.sp-section {
  position: relative;
  top: 0%;
  left: 0%;
  max-width: 800px;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.keyvisual-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  border: 0%;
}

.keyvisual-performer {
  position: absolute;
  bottom: 20vh;
  right: 5vw;
}

.sm-footer-performer {
  display: none;
}

.keyvisual-performer p {
  display: block;
  line-height: 90%;
  color: white;
  background-color: black;
  mix-blend-mode: difference;
}

.toptitle {
  display: inline-block;
  font-family: "Chivo Mono", monospace;
  font-weight: 1500;
  font-size: 1rem;
  color: white;
  background-color: rgb(25, 74, 251);
}

.topinfo {
  display: block;
  font-family: "Chivo Mono", monospace;
  font-weight: 900;
  font-size: 1rem;
  color: rgb(255,255,255);
  background-color: rgb(25, 74, 251);
}

.eventname {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 1500;
  font-size: 20vw;
  color: rgb(25, 74, 251);
  background-color: rgba(255, 255, 255, 0);
  line-height: 70%;
}

.eventname-container{
  position: absolute;
  top: 20%;
  mix-blend-mode: difference;
}

h1,
h2,
h3,
h4 {
  display: inline-block;
  font-family: "Chivo Mono", monospace;
  font-weight: 900;
  margin-bottom: 1rem;
}

p,
span {
  color: white;
  display: block;
}

h1 {
  color: white;
  font-size: 2rem;
}

h2 {
  color: white;
  font-size: 1.5rem;
}

h3 {
  background-color: black;
  color: white;
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  font-family: "Chivo Mono", monospace;
}

.external-link {
  display: inline-block;
  background-color: yellow;
  color: rgb(25, 74, 251);
}
.external-link:hover {
  background-color: rgb(25, 74, 251);
  color: white;
}

#issue-text {
  font-family: "Nanum Myeongjo", serif;
  font-size: 14pt;
  font-weight: 400;
  background-color: white;
  display: inline;
  padding-left: 0px;
  padding-right: 40px;
  z-index: 1;
  position: absolute;
  top: 3%;
  right: 0%;
}

.performer-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  flex-basis: content;
  justify-content: space-between;
}

.performer-frame {
  width: 350px;
}

.performer-detail {
  display: block;
  width: 100%;
  position: relative;
  flex-direction: row;
}

.performer-detail p{
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  width: 90%;
  background-color: white;
  color: black;
  display: block;
}
.performer-detail img {
  display: inline-block;
  height: 300px;
  margin-bottom: 30px;
}

.performer-frame h2,
p {
  margin-top: 0%;
  margin-bottom: 10px;
}

.performer-frame h2 {
  color: white;
}


a:hover {
  background-color: yellow;
  color: rgb(25, 74, 251);
}

.map {
  width: 95%;
  max-width: 600px;
  height: 40vh;
}

.nav-links {
  position: fixed;
  z-index: 2;
  bottom: 5vh;
  right: 5%;
  display: flex;
  gap: 5px;

}

.nav-elem {
  top: 0;
  left: 0;
  font-family: "Chivo Mono", monospace;
  text-decoration: none;
  background-color: rgb(25, 74, 251);
  color: white;
  font-size: 1.25rem;
  text-align: left;
  display: inline;
}

footer {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.footer-bg{
  height: 100vh;
  width: 100vw;
  background-color: rgba(25, 74, 251,0);
  position: relative;
}

.logo-container {
  position: absolute;
  bottom: 20vh;
  right: 5vw;
  display: flex;
  gap: 30px;
}

.logo-container img {
  display: inline-block;
  height: 50px;
}

.footer-credit {
  position: absolute;
  bottom: 30vh;
  right: 5vw;
}

.credits{
  text-align: left;
  background-color: rgb(25, 74, 251);
  color: white;
  z-index: 3;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-right: 10px;
  display: block;
  line-height: 90%;
}


